<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Made By - <a href="https://www.linkedin.com/in/sahil-ayank-078052132/">Sahil Ayank</a>.</strong> All rights
    reserved.
</footer>