<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/uploads/{{userProfile.profilePic}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{userProfile.firstname  + ' ' + userProfile.lastname}}</p>
                <a href="/profile"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>



        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/addQuestion">
                    <i class="fa fa-user"></i> <span>Add a Question</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class="fa fa-user"></i> <span>Profile</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
            <a href="/logout">
                    <i class="fa fa-sign-out"></i> <span>Logout</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>